{%  extends "polls/base.html" %}

<!-- Begin Page Content -->
{% block content %}

        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Sentiment analyzing</h1>
          <p class="mb-4">DataTables show pharses crawled.This is used to generate the new producst or understand customer. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">almaden.co.kr</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>keyword</th>
                      <th>period</th>
                      <th>channel</th>
                      <th>pharse</th>
                      <th>sentiment</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>keyword</th>
                      <th>period</th>
                      <th>channel</th>
                      <th>pharse</th>
                      <th>sentiment</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>농협 식품</td>
                      <td>2019.08.21</td>
                      <td>Naver Blog</td>
                      <td> 제품 개발을 통해 식품가공사업을 흑자로 전환하고, 이를 기반으로 마을기업 조성 사업을 벌이고 있는 영월농협 식품가공사업소를 찾았다</td>
                      <td>긍정</td>
                    </tr>
                    <tr>
                      <td>농협 식품</td>
                      <td>2017.04.24</td>
                      <td>Naver Blog</td>
                      <td>농민 입장에서는 높은 가격에 팔고, 말리고 보관하는 데 드는 품도 줄일 수 있으니 일석이조인 셈이다</td>
                      <td>긍정</td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock content %}