{%  extends "polls/base.html" %}
{% block content %}
  {% load staticfiles %}


    <img src="{% static pollsbreakdown.saved_path %}">

    <div class="container-fluid">
          <div class="row">
              <div class="col" cen>
                      {%  load staticfiles %}


              <p class="search_results"><strong>TargetA</strong></p>
                <p id=list_keywordA style="display: none"> {{ pollsbreakdown.keywordA }} </p>
                <p id=list_channelA style="display: none"> {{ pollsbreakdown.channelA }} </p>
                <p id=list_periodA style="display: none"> {{ pollsbreakdown.periodA }} </p>
                <p id=byWhat style="display: none"> {{ select.ByWhat }} </p>

                  <p id=keywordA>&emsp;keyword={{select.keywordA}}</p>

                  <p id=channelA>&emsp;channel={{select.channelA}}</p>

                  <p id=periodA>&emsp;period={{select.periodA}}</p>
            </div>
                <div class="col">
              <p class="search_results"><strong>TargetB</strong></p>
                <p id=list_keywordB style="display: none"> {{ pollsbreakdown.keywordB }} </p>
                <p id=list_channelB style="display: none"> {{ pollsbreakdown.channelB }} </p>
                <p id=list_periodB style="display: none"> {{ pollsbreakdown.periodB }} </p>

                  <p id="keywordB"></p>

                  <p id="channelB"></p>

                  <p id="periodB"></p>
                </div>
          </div>
         </div>
{% endblock %}